<%= erbInclude 'header.erb' %>

<body id="contact">
  
  <%= erbInclude 'navigation.erb' %>
    <div id="content">
      <div id="contact">
	<ul>
	  <li><%= l(:openingDays) %></li>
	  <li><%= l(:yearlyHolidays) %></li>
	  <li>We speak english</li>
	
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
