      </div>
      <div id="botPaper">
      </div>
    </div>
    </div>
    <div id="bShadowWrapper"/>
    <div id="gallery">
      <a href="<%= l(:resPrefix) %>/images/fullscreen/front-door.jpg" rel="lightbox[info]" title="<%= l(:captionFrontDoor)%>" />
      <!--<a href="<%= l(:resPrefix) %>/images/fullscreen/front-left.jpg" rel="lightbox[info]" title="<%= l(:captionFrontLeft)%>" />-->
      <a href="<%= l(:resPrefix) %>/images/fullscreen/front-right.jpg" rel="lightbox[info]" title="<%= l(:captionFrontRight)%>" />
      <!--<a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-2-1.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom21)%>" />-->
      <a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-2-2.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom22)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-2-3.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom23)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-1.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom1)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-4.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom4)%>" />
      <!--<a href="<%= l(:resPrefix) %>/images/fullscreen/resto-main-room.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoMainRoom)%>" />-->
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-table.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoTable)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-hearth.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoHearth)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-boar.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoBoar)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-small-room.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoSmallRoom)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-small-room-table.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoSmallRoomTable)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-customers.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoCustomers)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-fat-liver.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoFatLiver)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-bird-jelly.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoBirdJelly)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-deer.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoDeer)%>" />
      <a href="<%= l(:resPrefix) %>/images/fullscreen/resto-cheese.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoCheese)%>" />
    </div>         
  </body>
</html>



















  



















