<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:hotelTab)%></title>
</head>

<body id="hotel">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="hotel">
	<div class="illustration">
	  <p><a href="<%= l(:resPrefix) %>/images/fullscreen/hotel-room-2-1.jpg" rel="lightbox[hotel]" title="<%= l(:captionHotelRoom21) %>"><img src="<%= l(:resPrefix) %>/images/hotel-room-2-1.jpg" alt="<%= l(:captionHotelRoom21)%>"/></a></p>
	  <p><em><%= l(:gallery) %></em></p>
	</div>
	<h3><%= l(:hotelTitle) %></h3>
	<p><%= l(:hotelContent1) %></p>
	<p><%= l(:hotelContent2) %></p>
	<p><%= l(:hotelContent3) %></p>

	<p id="rates"><a href="Carte.DOC"><%= l(:hotelPrices) %></a></p>

      </div>
    </div>

<%= erbInclude 'footer.erb' %>
