<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:hotelTab)%></title>
</head>

<body id="hotel">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="hotel">
	<div class="illustration">
	  <p><a href="<%= l(:resPrefix) %>/images/fullscreen/3-1.jpg"><img src="<%= l(:resPrefix) %>/images/room.jpg" alt="<%= l(:roomPic)%>"/></a></p>
	  <p><em><%= l(:gallery) %></em></p>
	</div>
	<p><%= l(:hotelContent1) %></p>
	<p><%= l(:hotelContent2) %></p>

	<div id="hotelRates">
	  <h3><%= l(:hotelFacilities) %></h3>
	  <ul>
	    <li><%= l(:roomsFor2) %></li>
	    <li><%= l(:roomsFor3) %></li>
	    <li><%= l(:extraBed) %></li>
	    <li><%= l(:breakfast) %></li>
	    <li><%= l(:etapes) %></li>
	    <li><%= l(:etapesFor2) %></li>
	  </ul>
	</div>

	<p id="rates"><a href="Carte.DOC"><%= l(:hotelPrices) %></a></p>

      </div>
    </div>

<%= erbInclude 'footer.erb' %>
