<%= erbInclude 'header.erb' %>

<body id="hotel">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="hotel">
	<img src="../images/room.png" alt="<%= l(:roomPic)%>"/>
	<p><%= l(:hotelContent1) %></p>
	<p><%= l(:hotelContent2) %></p>

	<div id="hotelRates">
	  <h3><%= l(:hotelFacilities) %></h3>
	  <ul>
	    <li><%= l(:roomsFor2) %></li>
	    <li><%= l(:roomsFor3) %></li>
	    <li><%= l(:extraBed) %></li>
	    <li><%= l(:breakfast) %></li>
	    <li><%= l(:etapes) %></li>
	    <li><%= l(:etapesFor2) %></li>
	  </ul>
	</div>

      </div>
    </div>

<%= erbInclude 'footer.erb' %>
