<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:indexTab)%></title>
</head>

<body id="index">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="index">
      	<img src="<%= l(:resPrefix) %>/images/facade.png" alt="<%= l(:frontPic)%>"/>
	<p><%= l(:indexContent) %></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
