<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:indexTab)%></title>
</head>

<body id="index">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="index">
	<p><img src="<%= l(:resPrefix) %>/images/table.jpg" alt="<%= l(:tablePic)%>"/></p>
	<h3><%= l(:indexTitle) %></h3>
	<p><%= l(:indexContent1) %></p>
	<p><%= l(:indexContent2) %></p>
	<p><%= l(:indexContent3) %></p>
        <p><a href="http://dl.getdropbox.com/u/1094641/information.pdf" title="<%= l(:freshInfoTitle)%>" target="_blank"><%= l(:freshInfo)%></a></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
