<%= erbInclude 'header.erb' %>
<title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:infoTab)%></title>
</head>

<body id="info">
  
  <%= erbInclude 'navigation.erb' %>
  <div id="content">
    <div class="illustration">
      <p><a href="<%= l(:resPrefix) %>/images/fullscreen/front-left.jpg" rel="lightbox[info]" title="<%= l(:captionFrontLeft)%>"><img src="<%= l(:resPrefix) %>/images/front-left.jpg" alt="<%= l(:captionFrontLeft)%>"/></a></p>
      <p><em><%= l(:gallery) %></em></p>
    </div>
    <div id="info">
      <h3><%= l(:infoTitle)%></h3>
      <p><%= l(:howToCome) %>: <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=belleville+54&amp;sll=48.818182,6.09915&amp;sspn=0.004945,0.013819&amp;ie=UTF8&amp;ll=48.842802,6.114578&amp;spn=0.079095,0.2211&amp;z=12&amp;iwloc=A" title="<%= l(:mapTitle)%>">GoogleMaps</a></p>
      <p>60 route nationale, 54940 Belleville, France</p>
      <p>tel: (+33)3 83 24 01 35, <a href="mailto:aux3marcassins@gmail.com" title="<%= l(:emailTitle)%>">aux3marcassins@gmail.com</a></p>
      <h4><%= l(:weeklyClosureTitle) %></h4>
      <p><%= l(:weeklyClosure) %></p>
      <h4><%= l(:yearlyClosureTitle) %></h4>
      <ul>
	<li><%= l(:yearlyClosure1) %></li>
	<li><%= l(:yearlyClosure2) %></li>
      </ul>
      <h4>We speak fluent english</h4>

    </div>
  </div>

  <%= erbInclude 'footer.erb' %>
