<%= erbInclude 'header.erb' %>

<body id="contact">
  
  <%= erbInclude 'navigation.erb' %>
    <div id="content">
      <div id="info">
	<ul>
	  <li><%= l(:openingDays) %></li>
	  <li><%= l(:yearlyHolidays) %></li>
	  <li>We speak english</li>
	  <li>60 route nationale, 54940 Belleville, France</li>
          <li>tel: (+33)3 83 24 01 35, <a href="mailto:aux3marcassins@gmail.com">aux3marcassins@gmail.com</a></li>
	</ul>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
