<div id="hShadowWrapper">
  <div id="wrapper"
  <div id="topPaper">
  </div>
  <div id="midPaper">
    <div id="header">

      <div id="logis">
	<img src="<%= l(:resPrefix) %>/images/Logis.png"/>
      </div>

      <div id="languages">
	<ul>
	  <li><a href="<%= l(:resPrefix) %>/<%= currentFileName %>" id="frLink" title="Français"><img src="<%= l(:resPrefix) %>/images/frFlag.png" alt="Français"/></a></li>
	  <li><a href="<%= l(:resPrefix) %>/en/<%= currentFileName %>" id="enLink" title="English"><img src="<%= l(:resPrefix) %>/images/enFlag.png" alt="English"/></a></li>
	</ul>
      </div>

      <div id="title">
	<h1><span></span>L'auberge aux trois marcassins</h1>
      </div>
      
      <div id="navigation">
	<ul id="sections">
	  <li><a href="./index.html" id="indexTab"><%= l(:indexTab) %></a></li>
	  <li><a href="./resto.html" id="restoTab"><%= l(:restoTab) %></a></li>
	  <li><a href="./hotel.html" id="hotelTab"><%= l(:hotelTab) %></a></li>
	  <li><a href="./info.html" id="infoTab"><%= l(:infoTab) %></a></li>
	</ul>
      </div>

    </div>
