    <div id="header">
      <h1>L'auberge aux trois marcassins</h1>
      <ul id="navigation">
	<li><a href="./index.html" id="indexTab"><%= l(:indexTab) %></a></li>
	<li><a href="./resto.html" id="restoTab"><%= l(:restoTab) %></a></li>
	<li><a href="./hotel.html" id="hotelTab"><%= l(:hotelTab) %></a></li>
	<li><a href="./contact.html" id="contactTab"><%= l(:contactTab) %></a></li>
      </ul>

      <ul id="languages">
	<li><a href="../fr/<%= currentFileName %>" id="frLink">français</a></li>
	<li><a href="../en/<%= currentFileName %>" id="enLink">english</a></li>
      </ul>
    </div>
