  <div id="wrapper">
    <div id="header">

      <div id="languages">
	<ul>
	  <li><a href="../fr/<%= currentFileName %>" id="frLink"><img src="../images/frenchFlag.gif"/></a></li>
	  <li><a href="../en/<%= currentFileName %>" id="enLink"><img src="../images/englishFlag.gif"/></a></li>
	</ul>
      </div>

      <div id="title">
	<h1><span></span>L'auberge aux trois marcassins</h1>
      </div>
      
      <div id="navigation">
	<ul id="sections">
	  <li><a href="./index.html" id="indexTab"><%= l(:indexTab) %></a></li>
	  <li><a href="./resto.html" id="restoTab"><%= l(:restoTab) %></a></li>
	  <li><a href="./hotel.html" id="hotelTab"><%= l(:hotelTab) %></a></li>
	  <li><a href="./contact.html" id="contactTab"><%= l(:contactTab) %></a></li>
	</ul>

      </div>

    </div>
