<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:restoTab)%></title>
</head>

<body id="resto">
  
  <%= erbInclude 'navigation.erb' %>

  <div id="content">
    <div id="resto">

      <div id="summary">
	<div class="illustration">
	  <p><a href="<%= l(:resPrefix) %>/images/fullscreen/2-1.jpg"><img src="<%= l(:resPrefix) %>/images/restaurant.jpg" alt="<%= l(:restaurantPic)%>"/></a></p>
	  <p><em><%= l(:gallery) %></em></p>
	</div>

	<div>
	  <p><%= l(:restoContent1) %></p>
	  <p><%= l(:restoContent2) %></p>
	</div>
      </div>

      <div id="dayMenu" class="menu">
	<h3><%= l(:dayMenuTitle) %></h3>
	<p class="menuNotice">(<%= l(:changedEveryDay) %>)</p>
	<p><%= l(:fishSoup) %></p>
	<p><%= l(:salad) %></p>
	<p><%= l(:ham) %></p>
	<p class="separator">~</p>
	<p><%= l(:rabbit) %></p>
	<p><%= l(:emporor) %></p>
	<p class="separator">~</p>
	<p><%= l(:cheeseOrDessert) %></p>
      </div>

      <div id="aLaCarte" class="menu">
	<h3><%= l(:aLaCarteTitle) %></h3>
	<p><%= l(:wildBoarHam) %></p>
	<p><%= l(:fattedDuckLiver) %></p>
	<p><%= l(:effilochade) %></p>
	<p class="separator">~</p>
	<p><%= l(:scalops) %></p>
	<p><%= l(:roeDeer) %></p>
	<p><%= l(:grilledWildBoar) %></p>
	<p><%= l(:redDeer) %></p>
	<p><%= l(:duck) %></p>
	<p class="separator">~</p>
	<p><%= l(:frozenNougat) %></p>
      </div>

      <div id="otherMenus" class="menu">
	<h3><%= l(:otherMenusTitle)%></h3>
      </div>

      <p id="rates"><a href="carte.DOC"><%= l(:restoPrices)%></a></p>

    </div>
  </div>

  <%= erbInclude 'footer.erb' %>
