<%= erbInclude 'header.erb' %>

<body id="resto">
  
  <%= erbInclude 'navigation.erb' %>

  <div id="content">
    <div id="resto">

      <div id="summary">
	<img src="../images/restaurant.png"/>

	<div>
	  <p><%= l(:restoContent1) %></p>
	  <p><%= l(:restoContent2) %></p>
	</div>
      </div>

      <div id="dayMenu" class="menu">
	<h3><%= l(:dayMenuTitle) %></h3>
	<em class="menuNotice">(<%= l(:changedEveryDay) %>)</em>
	<p><%= l(:fishSoup) %></p>
	<p><%= l(:salad) %></p>
	<p><%= l(:ham) %></p>
	<p class="separator"/>
	<p><%= l(:rabbit) %></p>
	<p><%= l(:emporor) %></p>
	<p class="separator"/>
	<p><%= l(:cheeseOrDessert) %></p>
      </div>

      <div id="aLaCarte" class="menu">
	<h3><%= l(:aLaCarteTitle) %></h3>
	<p><%= l(:wildBoarHam) %></p>
	<p><%= l(:fattedDuckLiver) %></p>
	<p><%= l(:effilochade) %></p>
	<p class="separator"/>
	<p><%= l(:scalops) %></p>
	<p><%= l(:roeDeer) %></p>
	<p><%= l(:grilledWildBoar) %></p>
	<p><%= l(:redDeer) %></p>
	<p><%= l(:duck) %></p>
	<p class="separator"/>
	<p><%= l(:frozenNougat) %></p>
      </div>

      <div id="otherMenus" class="menu">
	<h3><%= l(:otherMenusTitle)%></h3>
      </div>

    </div>
  </div>

  <%= erbInclude 'footer.erb' %>
