<%= erbInclude 'header.erb' %>
  <title>Auberge aux trois marcassins - <%= l(:language) %> - <%= l(:restoTab)%></title>
</head>

<body id="resto">
  
  <%= erbInclude 'navigation.erb' %>

  <div id="content">
    <div id="resto">

      <div id="summary">
	<div class="illustration">
	  <p><a href="<%= l(:resPrefix) %>/images/fullscreen/resto-main-room.jpg" rel="lightbox[resto]" title="<%= l(:captionRestoMainRoom)%>"><img src="<%= l(:resPrefix) %>/images/resto-main-room.jpg" alt="<%= l(:captionRestoMainRoom)%>"/></a></p>
	  <p><em><%= l(:gallery) %></em></p>
	</div>

	<div>
	  <h3><%= l(:restoTitle) %></h3>
	  <h4><%= l(:restoSubTitle1) %></h4>
	  <p><%= l(:restoContent1) %></p>
	  <h4><%= l(:restoSubTitle2) %></h4>
	  <p><%= l(:restoContent2) %></p>
	  <p><%= l(:restoContent3) %></p>
	  <p><%= l(:restoContent4) %></p>
	</div>
      </div>

      <p id="rates"><a href="http://files.getdropbox.com/u/1094641/Carte.pdf"><%= l(:restoPrices)%></a></p>

      <div id="dayMenu" class="menu">
	<h4><%= l(:dayMenuTitle) %></h4>
	<div class="menuNotice">(<%= l(:changedEveryDay) %>)</div>
	<div class="menuItem"><%= l(:fishSoup) %></div>
	<div class="menuItem"><%= l(:salad) %></div>
	<div class="menuItem"><%= l(:ham) %></div>
	<div class="menuSeparator">~</div>
	<div class="menuItem"><%= l(:rabbit) %></div>
	<div class="menuItem"><%= l(:emporor) %></div>
	<div class="menuSeparator">~</div>
	<div class="menuItem"><%= l(:cheeseOrDessert) %></div>
      </div>

      <div id="otherMenus" class="menu">
	<h4><%= l(:otherMenusTitle)%></h4>
      </div>

    </div>
  </div>

  <%= erbInclude 'footer.erb' %>
