<%= erbInclude 'header.erb' %>

<body id="resto">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="resto">
	<p><%= l(:restoContent1) %></p>
	<p><%= l(:restoContent2) %></p>

	<div id="dayMenu">
	  <h3><%= l(:dayMenuTitle) %></h3>
	  <p>(<%= l(:changedEveryDay) %>)</p>
	  <ul>
	    <li>
	      <ul>
		<li><%= l(:fishSoup) %></li>
		<li><%= l(:salad) %></li>
		<li><%= l(:ham) %></li>
	      </ul>
	    </li>
	    <li>
	      <ul>
		<li><%= l(:rabbit) %></li>
		<li><%= l(:emporor) %></li>
	      </ul>
	    </li>
	    <li>
	      <ul>
		<li><%= l(:cheeseOrDessert) %></li>
	      </ul>
	    </li>
	  </ul>
	</div>

	<div id="aLaCarte">
	  <h3><%= l(:aLaCarteTitle) %></h3>
	  <ul>
	    <li>
	      <ul>
		<li><%= l(:wildBoarHam) %></li>
		<li><%= l(:fattedDuckLiver) %></li>
		<li><%= l(:effilochade) %></li>
	      </ul>
	    </li>
	    <li>
	      <ul>
		<li><%= l(:scalops) %></li>
		<li><%= l(:roeDeer) %></li>
		<li><%= l(:grilledWildBoar) %></li>
		<li><%= l(:redDeer) %></li>
		<li><%= l(:duck) %></li>
	      </ul>
	    </li>
	    <li>
	      <ul>
		<li><%= l(:frozenNougat) %></li>
	      </ul>
	    </li>
	  </ul>
	</div>

	<div id="otherMenus">
	  <h3><%= l(:otherMenusTitle)%></h3>
	</div>

      </div>
    </div>

<%= erbInclude 'footer.erb' %>
